@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whiteboard-scribbles {
    position: fixed;
    z-index: 10;
}

#scribble-1 {
    top: 10vh;
    left: 10vw;
}

#scribble-2 {
    bottom: 5vh;
    left: 15vw;
}

#scribble-3 {
    bottom: 2vh;
    right: 12vw;
}

.whiteboard-sticker {
    position: fixed;
}

#sticker-umbrella {
    top: 5vh;
    right: 5vw;
}

#sticker-hamster {
    top: 5vh;
    left: 10vw;
}

.rules-of-the-board-container {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
    z-index: 11;
    width: 300px;
    rotate: 20deg;

    text-align: center;
}

ul li {
    text-align: center;
}

h2,
h3,
h1 {
    padding: 0;
    margin: 0;
    transition: ease-in-out 0.15s;
}

h1 {
    font-size: 10rem;
    font-weight: 400;
}

h2 {
    font-size: 8rem;
    font-weight: 400;
}

h3 {
    font-size: 2.1rem;
}

#search-section {
    position: relative;
    left: 500px;
    margin-top: 50px;
}

#search {
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    padding-left: 15px;

    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: black;
}

#weather-section {
    display: grid;
    align-items: center;
    grid-template-columns: 280px 1fr;
    width: 780px;
    height: 300px;
    margin-top: 50px;
    margin-left: 140px;
    gap: 10px;
}

#weather-icon {
    transition: ease-in-out 0.15s;
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-info-right-side {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-self: flex-end;
    padding-left: 20px;

    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;
}

.weather-info-right-side-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}


.weather-info-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.weather-info-left-side-bottom {
    display: flex;
}

.weather-info-left-side-bottom h3 {
    margin-top: 10px;
}

.weather-info-right-side-bottom {
    height: 50%;
}

.feels-like-temperature-container {
    display: flex;
}

@media(max-height: 800px) {

    #weather-section {
        margin-top: 20px;
        margin-left: 150px;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 6rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    #scribble-3 {
        bottom: 0.5vh;
        right: 10vw;
    }

}